/* RESET DAS PÁGINAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1.5px;
}

img {
    display: block;
    max-width: 100%;
}

/* CONTAINER - estou colocando esse elemento para definir uma altura e largura máxima nas telas
façam o código dentro do container e utilizem apenas o espaço da tela disponível (sem scroll) */
.container {
    max-width: 1400px; /* pode ser entre 960px e 1440px. */
    min-height: 100%;
    margin: 0 auto;
    padding: 0 15px; 
}

html, body {
    height: 100%;
}

body {
  /* impede a rolagem (scroll) no corpo da página */
  /* CUIDADO: se o conteúdo for maior que a tela ele vai ser CORTADO */
    overflow: hidden; 
}

#final-screen {
    height: 100vh;
    width: 100%;
    background-image: url('../itens_jogo_img/backgrouds/background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative; 
}


.final-panel {
    background-image: url('../itens_jogo_img/backgrouds/fundo_final.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 19vh;
    margin-top: 13vh;
}

#title {
    font-size: 4rem;
    color: #082259;
    text-shadow: 1px 1px 2px rgba(236, 250, 255, 0.8);
    font-weight: 600;
    margin-top: 40px;
    
    text-shadow: 
        3px 3px 0 #ffffff,
       -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
       -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
}

.pulse-animation {
    animation: pulse 2s infinite alternate;
}

#credits {
    color: #082259;

    text-shadow: 
        3px 3px 0 #ffffff,
       -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
       -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
}

.final-panel h2 {
    color: aliceblue;

    text-shadow: 
        3px 3px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}